<h2>Upload</h2>
<p>Choose a CSV file to upload. The file must have headers which conform to the
<%= link_to 'stead schema', '#schema' %>. 
</p>
<p>
You can try it out with a 
<%= link_to 'sample CSV file', File.join(root_path, 'sample.csv') %>.
</p>

<% if flash[:notice] -%>
  <div id="notice" class="rounded">
    <%= flash[:notice] %>
  </div>
<% end -%>

<%= semantic_form_for :upload, :html => { :multipart => true, :id => 'upload_form' } do |f| -%>
  <%= render "shared/error_messages", :target => @upload %> 
  <%= f.input :name, :input_html => {:value => input_value_from_params(params, :name)  } %>
  <%= f.input :email, :input_html => {:value => input_value_from_params(params, :email)} %>
  <%= f.input :organization, :required => false, :input_html => {:value => input_value_from_params(params, :organization)} %>
  <%= f.input :csv, :as => :file, :label => "CSV file to upload" %>
  <%= f.submit :upload, :disable_with => 'Processing your CSV into EAD XML...' %>
<% end -%>

<div id="try_another" class="rounded">
  <p>Please wait for and accept the download of the EAD XML.</p>
  <p><%= link_to 'Try another', csv_import_path, :class => 'rounded' %></p>
</div>

<h2 id="schema">Stead schema</h2>
<p>These are the allowable values for the CSV header row. All values apply at
the container level except the values that apply to the series or subseries level.</p>
<dl>
  <dt>series title</dt>
  <dd></dd>

  <dt>series number</dt>
  <dd></dd>
  
  <dt>series dates</dt>
  <dd></dd>
  
  <dt>subseries number</dt>
  <dd></dd>
  
  <dt>subseries title</dt>
  <dd></dd>
  
  <dt>subseries dates</dt>
  <dd></dd>
  
  <dt>file id</dt>
  <dd></dd>
  
  <dt>file title</dt>
  <dd></dd>
  
  <dt>file dates</dt>
  <dd></dd>
  
  <dt>extent</dt>
  <dd></dd>
  
  <dt>physdesc</dt>
  <dd></dd>
  
  <dt>internal only</dt>
  <dd></dd>
  
  <dt>restrictions</dt>
  <dd></dd>
  
  <dt>conditions governing access</dt>
  <dd></dd>
  
  <dt>scopecontent</dt>
  <dd></dd>
  
  <dt>note1</dt>
  <dd></dd>
  
  <dt>note2</dt>
  <dd></dd>
  
  <dt>instance type</dt>
  <dd></dd>
  
  <dt>container 1 type</dt>
  <dd></dd>
  
  <dt>container 1 number</dt>
  <dd></dd>
  
  <dt>container 2 type</dt>
  <dd></dd>
  
  <dt>container 2 number</dt>
  <dd></dd>
  
  <dt>container 3 type</dt>
  <dd></dd>
  
  <dt>container 3 number</dt>
  <dd></dd>
  
  <dt>geogname</dt>
  <dd></dd>
  
  <dt>geogname_source</dt>
  <dd></dd>
  
  <dt>corpname</dt>
  <dd></dd>
  
  <dt>corpname_source</dt>
  <dd></dd>
  
  <dt>famname</dt>
  <dd></dd>
  
  <dt>famname_source</dt>
  <dd></dd>
  
  <dt>name</dt>
  <dd></dd>
  
  <dt>name_source</dt>
  <dd></dd>
  
  <dt>persname</dt>
  <dd></dd>
  
  <dt>persname_source</dt>
  <dd></dd>
  
  <dt>subject</dt>
  <dd></dd>
  
  <dt>subject_source</dt>
  <dd></dd>

</dl>
