<!DOCTYPE html>
<html>
<head>
  <title>Steady | <%= @title %></title>
  <%= stylesheet_link_tag :all %>
  <%= formtastic_stylesheet_link_tag %>
  <%= javascript_include_tag 'jquery-1.5.min', 'steady' %>
  <%= csrf_meta_tag %>
  <%= render :partial => '/layouts/google_analytics' %>
</head>
<body class="rounded">
  <h1><%= link_to 'Steady', pages_home_path %></h1>
  <%= render :partial => '/layouts/menu' %>
<%= yield %>

</body>
</html>

